<div class="menuBtn" [@flyIn]="menuState" (click)="toggleMenu()">
  <i class="blue fa fa-th-list fa-2x"></i>
</div>
<div class="menuBtnFake" [@flyInOut]="menuState">
  <i class="blue fa fa-th-list fa-2x"></i>
</div>


<div class="topMenu" [@slideInOut]="menuState">
  <!--<span class="text-center">{{title}} (by {{copyright}})</span>-->

  <ul>
    <li>
      <a class="nav-item nav-link" [routerLink]="['/YearEndParty/Index']">
        <i class="fa fa-file-powerpoint-o"></i>聊天室
      </a>
    </li>
   
  </ul>
</div>



<router-outlet></router-outlet>
