<div class="form-horizontal">
    <div class="form-group">
        <label class="control-label  col-md-2">Type</label>
        <div class="col-md-3">
            <select class="form-control" [(ngModel)]="selectedProdType" (ngModelChange)="changeSelectedType($event)">
                <option *ngFor="let type of prodTypes" [ngValue]="type">{{type.name}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label  col-md-2">Title</label>
        <div class="col-md-3">
            <input [(ngModel)]="prod.title" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label  col-md-2">Price</label>
        <div class="col-md-3">
            <input [(ngModel)]="prod.price" class="form-control" />
        </div>
    </div>
    <div class="form-group">
            <label class="control-label  col-md-2">Product image</label>
            <div class="col-md-3">
                <file-upload [(img)]="prod.imgUri" (change-img-uri)="setImgUri($event)"></file-upload>
            </div>
        </div>

    <div class="form-group">
        <input type="button" class="btn btn-success" value="Save" (click)="save()" />
        <input type="button" class="btn btn-default" value="Cancel" (click)="backToList()" />
    </div>
</div>
