<div class="card">
  <div class="card-block">
      <div class="card-text" [ngSwitch]="this.fbService.isAuth">
          <div *ngSwitchCase="false" class="text-center">
              <table class="table">
                  <tr>
                      <td>
                          <button class="btn btn-toolbar" (click)="login('google')">
                              <img width="30" src="../../../assets/images/google-logo.png" />
                              Use Google Account
                          </button>
                      </td>
                      <td>
                          <button class="btn btn-toolbar" (click)="login('facebook')">
                              <img width="30" src="../../../assets/images/facebook-logo.png" />
                              Use Facebook Account
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <button class="btn btn-toolbar" (click)="login('twitter')">
                              <img width="30" src="../../../assets/images/twitter-logo.png" />Use My Twitter Account
                          </button>
                      </td>
                      <td>
                          <button class="btn btn-toolbar" (click)="login('github')">
                              <img width="30" src="../../../assets/images/github-logo.png" />
                              Use Github Account
                          </button>
                      </td>
                  </tr>
              </table>
          </div>
          <div *ngSwitchCase="true" class="text-center">
              <table class="table">
                  <tr>
                      <td class="text-center">
                          <label class="control-label">{{this.fbService.user.displayName}}</label>
                      </td>
                  </tr>
                  <tr>
                      <td class="text-center">
                          <img src="{{this.fbService.user.photoURL}}" width="100px" height="100px"/> 
                      </td>
                  </tr>
                  <tr>
                        <td class="text-center">
                            Phone number: <label class="control-label">{{this.fbService.user.phoenNumber || '(no phone number)'}}</label>
                        </td>
                    </tr>
                  <tr>
                      <td class="text-center">
                          Email: <label class="control-label">{{this.fbService.user.email || '(no email)'}}</label>
                      </td>
                  </tr>                 
              </table>
              <div>
                  <input type="button" class="btn btn-warning" (click)="logout()" value="Logout" />
              </div>
          </div>
      </div>

  </div>
</div>

